<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @{
            if (IsPost)
            {
                 string name = Request["txtname"];
                 if (name.IsEmpty())
                 {
                     <h2 style="color:red">Please Enter your name!</h2> 
                 }
                 else
                 {
                     <h2 style="color:forestgreen">Hello mr. @name</h2> 
                 }
            }
        }
        <form method="post">
            <fieldset>
                <legend>Welcome Page</legend>
                <table>
                    <tr>
                        <td>Enter Your Name</td>
                        <td><input type ="text" name ="txtname" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Ok</button></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </body>
</html>
